.msf-h1{
    font-size: 3rem;
}
.msf-sh1{
    font-size: 2rem;
    line-height: 150%;
}
.productBlock {
    margin-left: 0px !important;
    margin-right: 8px !important;
}

.phoneRadius {
    border-radius: 16px;
    overflow: hidden;
}
.msf-info-s{
    font-size: 18px;
    line-height: 150%;
}
.msf-uiuxHeader{
     background: linear-gradient(90deg, #465375 0%, #758AC2 100%); 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 0.5em;
}

.msf-heightlight {
    border-left: 2px solid black;
    padding-left: 8px;
}

.msf-heightlight-w {
    border-left: 2px solid white;
    padding-left: 8px;
}

.notoFont {
    font-family: 'Noto Sans TC', sans-serif;
}

.msNotiWord {
    font-size: 5rem;
}
.btn {
    -webkit-appearance: none;
}

.round25p {
    border-radius: 25px !important;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0px 0 8px 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 8px;
    background: rgb(219, 219, 219);
}

.modal-dialog {
    max-width: 1080px;
}

.modal-body {
    height: 76vh;
    overflow: auto;
}

.expPage .nav-pills .active {
    background-color: #959bbd;
}
.bg-skyHeavyBlue {
    background-color:#465375 !important;
}
.text-skyHeavyBlue {
    color: #465375 !important;
}
.hoverShadow:hover{ 
    box-shadow: 0px 0rem 2rem rgba(0, 0, 0, 0.14);
    margin-top: -2px;
}
.ms-fixColor-primary:hover {
    color: white !important ;
}
.toTopBtn {
    transition: opacity 2s;
}
.tagLocationer{
    margin-top: -5rem;
    padding-top: 5rem;
}
.halfHightLightBg{
    background: linear-gradient(to top, #f2ebd0 40%, transparent 40%);
    padding: 0px 2px;
}


.navbar{
    background-color: var(--themeColor);
}
.navbar-nav .nav-item{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.navbar-nav .nav-div{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}
.navbar-nav .nav-item:hover{
    background-color: var(--secondColor);
}
.navbar-nav .nav-item .nav-link{
    color: white!important ;
}
.bg-theme{
    background-color: var(--themeColor);
}
.btn-theme{
    color: white;
    background-color: var(--themeColor);
}
.btn-theme:hover{
    color: white;
    background-color: var(--secondColor);
}
.btn-outline-theme{
    color: var(--themeColor);
    border-color: var(--themeColor);
}
.btn-outline-theme:hover{
    color: white;
    background-color: var(--themeColor);
}
.btn-text-theme{
    color: #1f1f1f;
}
.btn-text-theme:hover{
    background-color: #f0f0f0;
}

.border-theme{
    border-color: var(--themeColor) !important;
}


.footer_item{
    color: rgba(255, 255, 255, 0.6) !important;
    margin: 4px 0px;
}
.footer_item:hover{
    color: white !important;
    background-color: var(--secondColor);
    font-weight: bold;
    margin-left: 0.05rem;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
}
.footer_item i{
    margin-right: 0.25rem;
    visibility: hidden;
    margin-left: calc(-20px - 0.25rem);
}
.footer_item:hover i{
    margin-right: 0.25rem;
    visibility: visible;
    margin-left: 0px;
    transition: visibility 3s ease;
    transition: margin 50ms ease;
}

.border-theme {
    border-color: var(--themeColor) !important;
}